 


.flrow {
  display: flex;
  flex-direction: row;
}
.fl-cet-just {
  justify-content: center;
}
.fl-end-items {
  align-items:flex-end;
}
.fl-end-just {
  justify-content:flex-end;
}
.flrow-cet {
  justify-content: center;
}

.flcol {
  display: flex;
  flex-direction: column;
}

.fl-cet-items {
  align-items: center;
}

.relate {
  position: relative;
}
.fl-reverse {
  justify-content: flex-end;
}

.abs-r-end {
  position: absolute;
  right: 0px;
  top: 50%;
  height: 100%;
  transform: translate(0, -50%);
}
.abs-r-t {
  position: absolute;
  right: 0px;
  top: 0%;
}
.abs-r-t-space {
  right: 15px;
  top: 8%;
}