 

.bg-front {
  background-color: $background-color;
}

.bg-back {
  background-color: $background-gray;
}

.menu-back {
  background-color: $background-gray;
}

.menu-select-color {
  background-color: #a9db70;  
}


.banner-bg-color {
  background-color: #4c70e6;  
}